# Markov regime switch model of T-bill yields to yield curve

In [11]:
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

Load data and compute principal components from T-bond yields

In [13]:
from statsmodels.multivariate.pca import PCA

df = pd.read_stata('/Users/dioscuroi/OneDrive - UNSW/Research Data/Bonds/Bond Yields from CRSP/Fama-Bliss Discount Bond Yields.dta')

pc = PCA(df.loc[:,'yield1':'yield5'])

df = pd.concat([df, pc.factors], axis=1)

tbills = pd.read_stata('/Users/dioscuroi/OneDrive - UNSW/Research Data/Bonds/Bond Yields from FRB/Treasury Bills/yield_tbills_monthly_end.dta')

df = df.merge(tbills, on='date')

df.head()

,date,yield1,yield2,yield3,yield4,yield5,comp_0,comp_1,comp_2,comp_3,comp_4,m1,m3,m6,y1
0,1954-01-01,1.154014,1.440317,1.670869,1.693738,2.123211,-0.041902,0.003215,0.001132,-0.078828,0.065788,NaN,1.02,NaN,NaN
1,1954-02-01,1.100329,1.293659,1.496239,1.628125,1.879197,-0.043529,0.009381,0.004033,-0.028800,0.018279,NaN,1.00,NaN,NaN
2,1954-03-01,1.058494,1.211848,1.425534,1.596892,1.817478,-0.044206,0.009552,-0.002081,-0.013223,0.009305,NaN,1.03,NaN,NaN
3,1954-04-01,0.837529,1.136069,1.382004,1.544456,1.579254,-0.045691,0.008409,0.055093,0.016625,-0.010618,NaN,0.81,NaN,NaN
4,1954-05-01,0.847967,1.097936,1.429154,1.825164,1.773992,-0.044491,-0.004581,0.024910,0.074570,-0.056966,NaN,0.72,NaN,NaN